h1{
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 0);   
}

body {
background-image: url("download.jpeg");
background-attachment: fixed;
}

 .gato{
    width: 50%;
    height: 55%;
}
P{
 text-align: center;
 font-size: 40px ;   
 color: rgb(35, 19, 1);
}

.button{
background-color: rgb(0, 0, 0);
text-align: center;
border: none;
display: inline-block;
padding: 20px 30px;
cursor: pointer;
}
.cabecalho{
    border-style: groove;
    border-color: black;
}